[2020-04-09 23:42] matteodelabre opened #1 "Stop application if battery is running low"

[2020-04-10 10:43] matteodelabre opened #2 "Send pen input with pressure and tilt information"
Would be useful for using drawing apps such as Krita or xournalpp through VNC.

A solution could be to use the GII protocol extension, but we need to investigate how many VNC servers support it first: <https://vncdotool.readthedocs.io/en/0.8.0/rfbproto.html#gii-client-message>.

[2020-04-10 10:44] matteodelabre opened #3 "Allow triggering a manual full screen refresh"
Sometimes the default refresh mode leaves some ghosting. Binding a full refresh action to a key could be useful.

[2020-04-10 22:58] matteodelabre commented on #2
At least basic input from the pen would still be a good first approximation.

[2020-04-12 16:41] matteodelabre commented on #3
Implemented in 9e188825.

[2020-04-12 16:41] #3 closed

[2020-04-14 07:24] matteodelabre opened #4 "Right click by long press on touchscreen"

[2020-04-14 16:42] matteodelabre commented on #4
Implemented in https://github.com/matteodelabre/rmvncclient/commit/dfee341939717e03e8eb21b52836f0d116b05c32

[2020-04-14 16:42] #4 closed

[2020-04-15 22:35] torwag commented on #1
As a first approach, one could check for pen and touch input and if there is none for a predefined time, rmvncclient terminates itself and xochitl gets started again.

[2020-04-16 12:03] damienchallet opened #5 "Cannot see mouse pointer"
First, many thanks for your work. Would it be possible to show the mouse pointer in the vnc client ?

[2020-04-16 12:07] matteodelabre commented on #5
Hi @damienchallet! If you’re following the instructions from the “README” file, can you try removing the `-nocursor` flag when invoking x11vnc? Otherwise, which VNC server are you using?

[2020-04-16 12:17] damienchallet commented on #5
Yes, that works. Case closed, thanks !

On Thu, Apr 16, 2020 at 2:07 PM Mattéo Delabre <notifications@github.com>
wrote:

[2020-04-16 12:30] #5 closed

[2020-05-19 18:04] matteodelabre opened #6 "Support CMake 3.7"
Debian 9 ships with CMake 3.7. At first glance, it looks like the only required CMake 3.8 feature could be C++17 support, for which we could add a workaround for older versions.

_See [this Reddit thread](https://www.reddit.com/r/RemarkableTablet/comments/gkktxy/desktop_linux_on_remarkable_xournal_doom_and_more/fr45on7/) for context._

[2020-05-22 12:04] #6 closed

[2020-08-07 21:23] stevenbell opened #8 "Disabling gestures?"
Is there a way to disable touch gestures?  I'm trying to use this in concert with a drawing program, and often find myself accidentally scrolling the page as I move my hand around.

[2020-08-07 21:40] stevenbell opened #9 "Keep updating while drawing"
It appears that the screen doesn't update as long as the pen is on or near the surface of the tablet, with the result that I if I'm using a drawing app (e.g., Xournal++), I can write for tens of seconds before any of it shows up on the screen.  The normal ~1s latency isn't bad, but 20 seconds starts to be a problem!

I'm not sure if this is an issue with `rmvncclient` or with the VNC server on my

[2020-08-16 12:31] matteodelabre commented on #8
Thank you for your suggestion! I guess we could add a flag that disables touch gestures.

[2020-08-16 12:49] matteodelabre commented on #9
I’m glad that the tool is useful to you!

So, there is some debouncing logic built into `rmvncclient`, which is almost certainly at the root of the problem you describe. The current behavior is to wait until it’s been 150 ms since the last update was received from the server before sending the update to the reMarkable screen (the logic is [here](https://github.com/matteodelabre/rmvncclient/blob/54

[2020-08-16 18:11] stevenbell commented on #9
Ah, that makes perfect sense.  And making the "right choice" between drawing immediately or waiting for more pixels requires knowing the future...  I wonder if there are patterns in the tiles being sent that would give a clue.  For example, I assume that for a large screen update the tiles are sent in some kind of sequential order, while updates while writing with a pen follow the pen stroke.  But

[2020-08-19 17:48] #8 closed

[2020-08-19 17:55] matteodelabre commented on #8
@stevenbell I just added a flag called `--no-touch` that disables any interaction with the touch screen. Can you please tell me if that fits your use case? Thanks!

[2020-08-20 14:45] stevenbell commented on #8
Works great, thanks!
I can still use the pen for tap/click, so this is perfect.

[2020-08-20 15:09] stevenbell commented on #9
I did a couple quick experiments with the `update_delay` parameter.  I found that 50ms is fast enough that it updates between words rather than between lines, and is pretty usable.  20ms was a little too fast; updates happened quickly and I could see what I was writing, but the constant screen refreshing behind the pen became distracting.

The next thing I'd like to try is "update the screen if it

[2020-08-21 01:15] stevenbell commented on #9
Another thought... I switched the [update mode](https://github.com/matteodelabre/rmvncclient/blob/master/src/rmioc/screen.cpp#L116) to "direct" instead of "gc16".  This eliminates the flicker, at the cost of only working for black/white.  Then I turned `update_delay` down to 5ms and the tablet response time was quite good.

Obviously this is terrible for most use cases, but for mine (using Xournal

[2020-08-30 16:16] oresk opened #11 "reMarkable resolution is 1404×1872 but this client forces servers to send a 1408×1872 image"
A quick question
Everywhere in the project 1408x1872 resolution is used.

When using `fbset` gives me this back
[code]

Here: https://remarkable.com/ the same resolution is stated.

Is that just a typo or is there a reason for that?

[2020-08-30 16:18] oresk opened #12 "Horizontal use"
Another question from me :-)
What would be needed to do to enable horizontal use?

Just modifying the orientation in xrandr (or arandr) did nothing for me.

[2020-08-30 20:12] matteodelabre commented on #11
Thanks for bringing that up @oresk! As you can see in the output of `fbset`, although the screen can only display 1404 columns of pixels, the internal video buffer actually contains 1408 columns (the first pair in the `geometry` field is the visible resolution, the second pair is the “virtual” resolution, i.e. the size of the buffer). To make things simpler, I chose to pass that internal buffer di

[2020-09-08 08:16] deyurao opened #13 "Windows Support"
So I am quite new to git and I'm not sure if this is the right place to post.
I managed to get this to work on Windows, with quite a few hiccups.

The steps basically mirrors the Linux setup.
1. You need to set up a virtual monitor in Windows with the specific resolution. This proves to be incredible difficult.
The only thing I find working is a [virtual monitor software](https://blog.csdn.net/dai

[2020-10-19 15:53] programminggamesemantics commented on #9
Hello,

I ran into the same issue, but I have patched it to solve it in a different way: when the pen is on the screen, ie. we are drawing, then we update right away. I have also modified the code to update every 200ms instead of waiting for the server to send updates for 150ms (which can never happen if the image is very dynamic). In practice it does work well (better than the current version any

[2020-10-20 15:05] matteodelabre commented on #9
Hey @programminggamesemantics! Thanks for chiming in.

Sounds like an interesting compromise.

I believe this is what @stevenbell and I were discussing above: "update the screen if it's been X ms since the last VNC tile OR it's been Y ms since the last screen update". The only issue was that we didn’t get around to implementing it yet. :)

If you want to submit your patches as a PR, I’d be glad to

[2020-10-20 16:23] asmanur commented on #9
Great thanks for your answer. I have something ready, i'll push it out. (The previous comment was made from a temporary account i made for a project that i forgot to sign out from)

[2020-10-22 22:36] matteodelabre commented on #9
Fixed by 1b03a59e thanks to @asmanur’s contribution.

[2020-10-22 22:36] #9 closed

[2020-10-23 00:09] stevenbell commented on #12
How are you setting up the display?

My use case is a little different (mirroring part of the screen with `x11vnc` so I can scribble on PDFs live), but I can do horizontal or vertical orientations with no issue:

[code]

[2020-11-09 09:56] fedecupe opened #15 "reMarkable 2 support"
Hi there,
Any hope for remarkable 2 support?

Thanks for your work.

[2020-11-09 16:21] matteodelabre commented on #15
Interacting with the screen of the reMarkable 2 turns out to be considerably harder than with the reMarkable 1, since it is not exposed as a Linux framebuffer device. There is an ongoing reverse-engineering effort to achieve that in the <https://github.com/ddvk/remarkable2-framebuffer> repository. Once it stabilizes and we have enough people able to test it on their rM2 tablets (which I don’t curr

[2020-11-09 16:37] matteodelabre commented on #13
Thanks a lot for sharing your workflow @deyurao! Making VNSee less strict on the incoming screen resolution is on the roadmap (see also #11). I’m not really familiar with Windows, but I’m a bit surprised that there’s no better solution for creating virtual screens. I’m a bit reluctant to linking to the solution you found since it’s not free software and, crucially, it doesn’t look like the source

[2020-11-09 16:52] matteodelabre commented on #12
Hi @oresk! Thanks @stevenbell for answering. Could you provide more details on what you are trying to achieve? In principle, setting up the virtual screen resolution as 3840x1408 instead of 1408x3840 and adding the `-rotate 90` flag to the x11vnc command line should do the trick. Did you encounter a specific error in doing that?

[2020-11-09 17:18] deyurao commented on #13
I totally understand. Windows used to have native support of creating virtual screens but drop that function a couple of versions ago. I'll check out WifiScreen and report back!

[2020-11-09 18:02] fedecupe commented on #15
Thanks, if you need some debug I have the rm2 and have a Linux Box.

[2020-12-01 16:47] damienchallet opened #17 "vnsee with vncserver: resolution and immediate stop"
Since I cannot use the Intel solution and cannot make the generic alternative solution for virtual display work (vnsee crashes or continuously updates the screen for no reason), I am trying to use vnsee with a dedicated vncserver and then connect to it from the remarkable.

It start a (Tiger) vncserver with

`vncserver -depth 16 -geometry 1408x3840 -SecurityTypes None :2`

First, why does vnsee as

[2020-12-04 23:04] ennioVisco commented on #15
I'll be glad to help testing it! Unfortunately, I'm on Remarkable 2, and according to #13 there is still no stable solution for printing on Remarkable 2. I'll be waiting for that and than come back 😊

[2020-12-04 23:08] ennioVisco commented on #13
I'll be glad to help testing it! Unfortunately, I'm on Remarkable 2, and according to #13, there is still no stable solution for printing on Remarkable 2. I'll be waiting for that and then come back 😊

[2020-12-27 02:47] LeifAndersen commented on #15
For what its worth I've actually gotten this to work on the remarkable2, using the remarkable2-framebuffer repo.

https://www.youtube.com/watch?v=X0_6_c_1kBE&feature=youtu.be

[2020-12-27 02:48] LeifAndersen commented on #15
Obviously the refresh rate is to slow to watch a video....but for reading websites it works pretty great.

[2020-12-28 15:41] ennioVisco commented on #15
Any changes, or it works just out of the box?

[2020-12-28 15:53] LeifAndersen commented on #15
I did not need to modify vnsee or remarkable2-framebuffer. But I did compile both of them myself using the rm2 sdk.

Basically, I opened up two shells over ssh. First I shut down xochitl:
[code]

Then, in the first shell I ran:
[code]

Then, I started a vnc server on my desktop:
[code]

Finally, in the second shell I ran:
[code]

[2020-12-30 20:38] Equator11111 commented on #15
This worked for me as well. However I was unable to get input working (both from pen and touch). Is this something that will still have to be reworked for the RM2 or is there something that I am missing?

[2020-12-31 03:33] LeifAndersen commented on #15
Very strange. I'm also noticing the same behaviour, which is odd since the rm2 seems to use similar input to the rm1. Maybe its possible you hard-coded some device ids that changed?

I'll have to look into this more this weekend.

[2021-01-04 16:07] NickHu commented on #15
It's probably this https://github.com/Eeems/oxide/issues/48#issuecomment-690830572

[2021-01-24 18:25] mhhf opened #19 "Problem connecting to android Termux"
I have problems connecting to my android phone.

After installing Termux app and tigervnc (together with aterm and xorg-twm) i can start a vnc server on my android phone with:
[code]
and successfuly connect with other vnc clients. However, connecting with vnsee isn't working with the error on the server being thrown: `invalid pixel format`.

Have i missed something?

[2021-01-25 12:11] matteodelabre commented on #19
Hi @mhhf, thanks for reporting! I did not test with TigerVNC before (only with x11vnc), but thanks to your report I noticed that I was missing setting the `depth` field in the pixel format request. It seems that x11vnc happily allows that this field is missing, but TigerVNC does not. Can you try the following `vnsee` build in which I added a fix to properly set that field? → [vnsee.zip](https://gi

[2021-01-25 12:13] matteodelabre commented on #1
I think this is better left to handle by the user’s launcher application.

[2021-01-25 12:13] #1 closed

[2021-01-25 12:17] matteodelabre commented on #17
Hi @damienchallet, thanks for the report and sorry for the delay.

You should not need to set the `-depth 16` flag on the server, since the pixel format is automatically negotiated by the client.

Does #11 answer your question?

Could you please provide the server logs?

Thanks!

[2021-01-25 12:49] mhhf commented on #19
The new vnsee version works perfectly, without the `-pixelformat` flag! Thank you!

[2021-01-25 12:49] #19 closed

[2021-01-25 12:51] mhhf commented on #17
@damienchallet as you are also using tigervnc and seem to have the same client side feedback, maybe #19 also solves your issue.

[2021-01-25 12:52] matteodelabre commented on #19
Thanks for testing! I’ll publish a release including this fix shortly.

[2021-01-26 21:33] damienchallet commented on #17
Hi @matteodelabre and @mhhf

Thanks! The latest version solves the crash problem.

In addition, vnsee no longer asks for 3840 horizontal pixels.

Many thanks !

[2021-01-26 21:33] #17 closed

[2021-01-29 13:55] o- commented on #15
I tried to just change these inputs and compile. It's going in the right direction, though there is more to it. It seems the resulting cursor location is quite off. And I can scroll down, but not up :)

[2021-01-29 17:06] matteodelabre commented on #15
Thanks all for your input! I’ve recently bought a rM2 and I’m currently working on adding rM2 support.

[2021-02-10 14:30] matteodelabre commented on #15
Hello everyone, I’m glad to announce that rM2 support has reached a beta state. Here’s a development build for those of you who would like to test it: [vnsee-rm2-beta-6088f4.zip](https://github.com/matteodelabre/vnsee/files/5958781/vnsee-rm2-beta-6088f4.zip). (You can also build it from the [`rm2-support` branch](https://github.com/matteodelabre/vnsee/tree/rm2-support) if you’d like to inspect the

[2021-02-10 21:13] kunalb commented on #15
I was trying to test it out today, but can't unzip the development build:
[code]

And fetching install-toolchain is instead redirecting me to the remarkable website, so I haven't been able to manually build it yet :(. Could you upload a new copy of the build?

[2021-02-10 21:37] matteodelabre commented on #15
Sorry about that! It actually was a tar archive instead of a zip. Here’s the same archive in the zip format: [vnsee-rm2-beta-018b42.zip](https://github.com/matteodelabre/vnsee/files/5961668/vnsee-rm2-beta-018b42.zip).

Unfortunately the company removed the toolchain from its website a few weeks ago for reasons that are still unknown. It’s still available through the Internet Archive though: https:

[2021-02-10 21:46] kunalb commented on #15
Thanks for both! Could successfully tar -xf the original build.

[2021-02-10 22:06] kunalb commented on #15
Just to confirm, did you mean that the resolution should be 1404x1872?

At the moment I get an error of failing to initialize the VNC connection after it tries for several seconds.

[2021-02-10 22:10] matteodelabre commented on #15
Yup, thanks! I fixed it.

Is your VNC server running on port 5900?

[2021-02-10 22:12] kunalb commented on #15
Yup -- the x11vnc output explicitly prints out PORT=5900.

[2021-02-10 22:15] matteodelabre commented on #15
Is there any output from `x11vnc` when you start `vnsee`?

[2021-02-10 22:36] kunalb commented on #15
No, nothing from x11vnc. I'm not quite sure how to debug further.

[2021-02-10 22:45] matteodelabre commented on #15
If there’s no output from *x11vnc* then it looks like a mismatch between the VNC server’s address and what address VNSee is trying to reach. When you start VNSee, you should see a first message saying `Connecting to 10.11.99.x:5900…`. Can you check that your computer’s IP on the USB network (which can be seen in the output of `ip addr`) matches with what VNSee shows?

[2021-02-11 11:42] fedecupe commented on #15
Hi, I get this error when trying to launch vnsee on remarkable2

[code]

[2021-02-11 12:09] matteodelabre commented on #15
Hi! Thanks for the report. Could you please check whether `cat /sys/devices/soc0/machine` reports `reMarkable 2.0`? Also, just to be sure, could you double-check that you’re running the dev build and not an old one? (`sha256sum vnsee` should print the following hash: `35138600893ef76f5775ec263704f811341e2e4c31b915da9602e323392d98fe`)

[2021-02-11 13:57] kunalb commented on #15
Hmm, ip addr gives me the right addresses and things *look* to be sane on both sides. (10.11.99.2)
But I can't actually hit any port from the remarkable to the laptop: I tried to telnet into the vnc server, just to see if it worked and remove a variable and that didn't work. I also tried to hit an http server on my laptop from remarkable and that also failed.

ping works.

[2021-02-11 14:15] matteodelabre commented on #15
Can you check whether you have an iptables rule filtering inbound traffic on the USB network interface? Is there any output from `dmesg -w` on your computer when you attempt to telnet from the rM?

[2021-02-11 14:40] kunalb commented on #15
Looks like it's iptables rule filtering set up for my office laptop; looking into that now! Thank you for pointing me to that!
dmesg -w didn't have any output.

[2021-02-11 14:53] kunalb commented on #15
All right, forcefully ACCEPTING packets from USB let me start connecting! With that in place, I now get an error for
[code]

maybe because of
[code]

I haven't dug into this before; should I manually try replacing 1408 by 1404 while creating the new mode?

[2021-02-11 15:42] matteodelabre commented on #15
Great!

`gtf` automatically rounds arguments to be a multiple of 8 it seems. Actually we don’t really need to bother with the hsync/vsync arguments of the modeline since it’s a virtual output, so you could simply use:

[code]

I’ll update the docs accordingly.

[2021-02-11 15:47] kunalb commented on #15
Keeping the 1408 and only changing the clip on VNC let me start things working! I'll try with the simpler mode definition as well, thank you so much! I'm tying this out on the remarkable screen now.

[2021-02-12 09:57] KaffeDiem opened #21 "Mac OS support"
Mac OS does have a built in VNC client, but it does not seem to support virtual screens.

[2021-02-20 17:23] lfuhr commented on #21
I haven't found any way to make a virtual screen. With SwitchResX you can set the main screen size to a exact number of pixels.
I did not try, because I have a RM2.
A one-Screen setup would also be very useful.

[2021-02-20 17:46] matteodelabre commented on #21
Thanks for investigating that. If you want to try it out, check out the following thread for beta rM2 support: https://github.com/matteodelabre/vnsee/issues/15#issuecomment-776746141

[2021-02-21 09:17] lfuhr commented on #21
After some testing with rM2 and macOs: It is Partly working
Setting the Screen resolution (on the primary display) works fine using non-free SwitchResX.

macOS VNC-Server:
1. Enable password in System Preferences (Screen Sharing)
2. Enable Virtual keyboard in System Preferences (User Settings)
=> Could not login because virtual keyboard hangs (cannot type Passwort properly)

Vine VNC-Server
Screen

[2021-03-10 22:18] hcu00 commented on #13
Everybody thanks :-)  @deyurao :  Please, can tell us how you got the file from BaiduNetDisk? I looked at signing up, but that seems horror with the chinese language and a foreign mobile phone number. I tried several shared accounts, without result... It is not about the money, because I gladly pay 1,50 for this to work..

[2021-03-13 14:28] Baccanno commented on #15
So used the https://github.com/matteodelabre/vnsee/files/5961668/vnsee-rm2-beta-018b42.zip after having toltec installed rm2fb and I manage to reach this step
[code]

I believe I time out (after 1min or so) because nothing connects to it. I'm on windows and I'll have to look into available VNC servers.

[2021-03-13 14:45] Baccanno commented on #13
I tried with https://www.tightvnc.com/ that seems to be an open source VNC server for windows.
Seems that I have issue like the one stated before in  #15
`  what():  Server uses an unsupported resolution (3440x1440). This client can only cope with a screen width of exactly 1404 pixels and a screen height of 1872 pixels`

[2021-03-13 15:02] Baccanno commented on #13
Okay So it work flawlessly ! I used the following command to set the screen resolution.
`./tvnserver.exe -controlapp -sharerect "1404x1872+0+0"`

 I'm now looking for screen orientation. But I guess 'I'll find the info somewhere on the repo.
 Thans for your amazing work.

[2021-03-13 15:56] Baccanno commented on #12
Regarding the same issue, I did not manage to enable Horizontal rotation. It's not available in TightVNC on windows. Natively rotating the desktop does not change the rotation and I had no chance with fbdepth neither.

[2021-03-14 23:02] matteodelabre commented on #15
Thanks for testing @Baccanno! I will be publishing a release including rM2 support soon (probably in the coming week).

[2021-03-14 23:04] matteodelabre commented on #13
Thanks for the information @Baccanno. To clarify, does this solution allow you to create and share a virtual screen on Windows, or are you just sharing (a portion of) an existing screen to VNSee?

[2021-03-14 23:16] Baccanno commented on #13
I'm sharing a portion of an existing screen with TightVNC, (my display is 3440x1440, so horizontal is cut to 1404, and vertical only shows 1440 and bottom is RM app). I switch on high contrast mode so it displays better.

I don't understand how it could work but I also tried with UltraVNC viewer (another VNC tool, but the client) to create a secondary screen but it disconnected my actual monitor a

[2021-03-14 23:21] Baccanno commented on #13
Indeed having a virtual screen of size 1872x1404 would be the best. But I'm new to how VNC should work in general so I'm a bit stuck. Moreover UltraVNC does not seem to provide custom resolution (only standard ones + scales).

Regarding this lack of option if we had some configuration on vnsee (regarding rotation and resolution) I thing that might help ?

Thanks again

[2021-03-14 23:24] Baccanno commented on #13
Another solution could be to have a Linux VM serving the VNC, I recently installer ubuntu with WSL 2 but I'm not sure how to enable X on it nor how to activate a VNC server on it. Moreover it would serve the VM's screen and not the main win machine where all my dev env is.

[2021-03-14 23:40] Baccanno commented on #13
As far as I understand it, regarding the following UltraVNC documentation, https://www.uvnc.com/docs/documentation-1-3-0/134-virtual-displays.html
It seems like the server allows the query of virtual screens. So like the client (theirs usually but here vnsee ?) could be able to ask for a 1404x1872 screen and the server would serve it.

[2021-03-22 12:51] Baccanno commented on #13
Alright, so for now, I managed to get a full virtual side screen but in PORTRAIT mode, I can't get the screen to go in landscape whatsoever. Screen rotation in windows works at a resolution level, it's not a real rotation (1404x1872 becomes 1872x1404). I'm thus still looking for a solution.

For the protrait mode here are the steps I took :
1. Ordered a https://www.amazon.fr/gp/product/B08PNL81Q4/

[2021-03-25 01:54] bravech opened #22 "Client requires server screen size of 260x23936"
I've tried installing both `rm2fb` and `vnsee` through toltec, as well as compiling both from source and scp'ing over, and I keep getting this same error. I also tried compiling from the `rm2-support` branch of the `vnsee` repo, to the same results. Same problem whether over wifi or over usb connection.

Exact error message is:
[code]

[2021-03-25 03:31] bravech commented on #22
Duplicate of #15
Turns out I wasn't running the dev build in the zip file provided. However, I'm still concerned if this should still be broken when running the `rm2-support` branch.

[2021-03-25 07:51] twitwi opened #23 "Rebuild needed after remarkable1 update"
Thanks for the project.
I updated my remarkable yesterday and vnsee now fails due to updated SSL libraries.
libssl.so.1.0.2 -> libssl.so.1.1
....

It might be worth for users to make a new updated release.

[2021-03-25 10:50] matteodelabre commented on #23
Thanks for reporting! I’ll look into it as soon as possible.

[2021-03-28 01:13] static-void commented on #23
I also have this issue. Just when I figured out how to get an extra monitor output with nvidia too!

(BTW, might want to add to wiki: you can buy this dummy HDMI output thing https://www.amazon.co.uk/gp/product/B07YKGGQTJ/ and do:

``xrandr --output OUTPUTNAME --mode 1920x2160 --transform `bc -l <<< 1408/1920`,0,0,0,`bc -l <<< 1872/2160`,0,0,0,1 --pos XPOSxYPOS``

... this beats using xvfb and syn

[2021-03-31 02:05] stevenbell commented on #23
Same here.  Also affects libcrypto (which I assume is tied to libssl).

Just making simlinks in /usr/lib didn't do the trick:
`./rmvncclient: /usr/lib/libcrypto.so.1.0.2: version `OPENSSL_1.0.2d' not found (required by ./rmvncclient)`

[2021-04-06 17:48] stevenbell commented on #23
I was able to get it working by just copying `libssl.so.1.0.2` and `libcrypto.so.1.0.2` into `/usr/lib` on the tablet.  I had these libraries from installing the (now out of date) dev tools from reMarkable, but there are other places you can get these files, e.g., https://github.com/bordaigorl/rmview/issues/57#issuecomment-808193006

This is obviously a temporary fix, but good enough for now!

[2021-04-06 21:25] static-void commented on #23
Great work around @stevenbell. Here are the files, so just do
[code]

[2021-04-14 13:33] lapwat commented on #15
# Workaround instructions

## Mono display

@LeifAndersen [instructions](https://github.com/matteodelabre/vnsee/issues/15#issuecomment-751760571) work great

## Multiple displays

[code]

[2021-04-17 01:46] jfim commented on #23
In case you don't want to copy the libs in `/usr/lib` you can also extract them and run `vnsee` with `LD_LIBRARY_PATH=.`

In other words:
[code]

[2021-04-19 08:30] OldhamMade commented on #21
Excited to see progress here! I'm looking forward to eventually using my rM2 as a mirrored screen on my Mac for terminal & emacs use.

[2021-04-24 20:38] matteodelabre commented on #23
Sorry for the delay. The build for [release 0.4.0](https://github.com/matteodelabre/vnsee/releases/tag/v0.4.0) works both on 2.5 and 2.6 (the latest rM update).

[2021-04-24 20:38] #23 closed

[2021-04-24 20:39] matteodelabre commented on #22
Hi @bravech, could you please try again with [release 0.4.0](https://github.com/matteodelabre/vnsee/releases/tag/v0.4.0) to see if this still happens? Thanks!

[2021-04-24 20:40] matteodelabre commented on #15
Just released [version 0.4.0](https://github.com/matteodelabre/vnsee/releases/tag/v0.4.0) with support for reMarkable 2. Thanks to everyone who provided feedback on the development build!

[2021-04-24 20:40] #15 closed

[2021-04-24 20:41] matteodelabre commented on #11
This is fixed in [release 0.4.0](https://github.com/matteodelabre/vnsee/releases/tag/v0.4.0). The client will now accept any server resolution, and will crop the image to fit in the screen if needed. I updated the docs to state that the recommended resolution is 1404x1872.

[2021-04-24 20:41] #11 closed

[2021-04-24 20:43] matteodelabre commented on #12
Thanks for the suggestion @Baccanno. Another solution would be to implement this directly in VNSee. I’ll look into it when I get some time and if enough people are interested.

[2021-04-25 14:43] mehalter opened #24 "Remarkable 2 rm2fb Missing Signature"
Very excited with the v0.4.0 release. I tried to run the released `vnsee` binary while preloading the latest rm2fb binary but I am getting the error:

[code]

Has anyone else encountered this and know how to fix it? Thank you!

[2021-04-25 18:17] matteodelabre commented on #24
Hi @mehalter! rm2fb is made up of two parts that work together: (1) a server lib that is preloaded into `/usr/bin/xochitl` and is used to control the display, and (2) an (optional) client lib to be preloaded in apps, which acts as a compatibility layer for apps that weren’t designed to work on rM2. Here, it seems that you tried to preload the server lib into a client app, which is incorrect (the s

[2021-04-25 18:29] Baccanno commented on #12
An option directly from vnsee to set rotation (90 => 270) would indeed be a good solution imo.
Thanks for your work on this

[2021-04-26 07:51] twitwi commented on #23
Thanks a lot, both the workaround and now the new release worked.

[2021-04-26 13:43] mehalter commented on #24
@matteodelabre thanks for the clarification, this makes total sense. I noticed that it was working without doing the `LD_PRELOAD` with the `rm2fb` server running, but I also noticed that I was having issues with touch events registering for both the vnc client and the xochitl running in the background. I have tried stopping xochitl before starting `vnsee` but am still getting this strange behavior

[2021-04-26 14:54] matteodelabre commented on #24
This is not normal. Did you install rm2fb manually or via Toltec? Can you please share the logs of the rm2fb service (`journalctl --unit rm2fb --no-pager`) and the output of `ps` when this issue occurs?

[2021-04-26 15:01] mehalter commented on #24
I have installed through Toltec. I also get the same behavior without running the `LD_PRELOAD` as well as when I run the `LD_PRELOAD` with the client

Here's the `journalctl` output:

[code]

Here is ps output when the error occurs:

[code]

[2021-04-26 15:21] matteodelabre commented on #24
Thanks! Your `ps` output shows that there’s a xochitl process running (with PID 244). Are you sure that the `xochitl` systemd service is stopped? To check whether it was started as a service (i.e., by systemd) or not, you can check what is its parent process by running `grep PPid /proc/244/status`. If the parent PID is 1, then it was started by systemd, which would indicate that the service is act

[2021-04-26 15:26] mehalter commented on #24
What is the intended workflow to get it running? Do you usually stop xochitl before or after starting vnsee?

[code]

Like this? Or is the new GUI application the best option, does it handle stopping xochitl and everything? Also, I don't think the README mentiona any process of stopping xochitl or intended workflow to start it other than running the binary after copying it to the device.

Thanks f

[2021-04-26 15:31] matteodelabre commented on #24
You would need to stop it before starting VNSee to make sure there’s no interaction between the two apps. This is documented in the [OS-specific guides](https://github.com/matteodelabre/vnsee/blob/master/docs/second-screen/linux-x11.md#start-vnsee) (in the second paragraph), but I agree that this would be useful information to have in the main README. Once this new version lands in Toltec, you’ll

[2021-04-26 15:34] mehalter commented on #24
Awesome, thank you so much! I'll take a look at the linked page and I'm looking forward to an update in Toltec.

[2021-04-26 16:02] #24 closed

[2021-05-03 12:08] koenvervloesem commented on #22
I'm not OP, but installing rm2fb through toltec and the vnsee 0.4.0 binary from GitHub just worked on my reMarkable 2.

[2021-05-08 14:28] matteodelabre commented on #22
That’s good to know, thanks @koenvervloesem! I’ll close this for now, please feel free to re-open the issue if you encounter the problem again @bravech.

[2021-05-08 14:28] #22 closed

[2021-05-12 15:30] OldhamMade commented on #21
I've installed vnsee on my rM2 and I've set up the macOS screen sharing. When I run vnsee I get the following:
[code]

I installed [Resolutionator](https://manytricks.com/resolutionator/) to see whether it would help, and set my macbook's resolution to 1650x1050, but I see the same error:
[code]

Is there a way I can set the resolution & rotation of vnsee so I can use the rM2 in landscape?

[2021-05-23 10:21] BonaBeavis opened #25 "Package on Toltec still is 0.3.1-2"
This will not work with the remarkable 2. There should be a mention in the docs.

[2021-05-31 08:47] OldhamMade commented on #21
@matteodelabre if it's any help, my rM2 is running version `2.7.0.51`. I'm not running any mods other than `renews`, which doesn't affect the main OS anyway. Would love to get this running soon; really keen to be able to use my rM2 as an "outdoor" screen for development purposes.

[2021-06-01 21:22] giampierosalvi opened #26 "Wrong resolution on remarkable 1 with X11"
I followed all the instructions for X11 on Ubuntu 20.04 and intel graphic card in combination with a remarkable 1, and using x11vnc. I installed vnsee on the remarkable through Toltec. The only difference from the instructions is that I am not using a launcher, but start vnsee through ssh.

[x11vnc.log](https://github.com/matteodelabre/vnsee/files/6580606/x11vnc.log)
[vnsee.log](https://github.com

[2021-06-01 21:52] giampierosalvi commented on #26
I made it work, meaning I do not get any errors, by using (on the linux machine):
xrandr --newmode 1408x3840 0 1408 1408 1408 1408 3840 3840 3840 3840
xrandr --addmode VIRTUAL1 1408x3840
x11vnc -repeat -forever -nocursor -allow 10.11.99.1 -nopw -clip 1408x3840+1600+0

However, I can barely see the content of the screen on the reMarkable. I saw an hint of the Ubuntu background, and when I moved a w

[2021-06-03 15:52] matteodelabre commented on #26
Hi @giampierosalvi!

The issue here is that the instructions you followed are intended for VNSee 0.4.0 whereas the version you installed from Toltec is 0.3.1. The old version expected a 1408-pixels-wide resolution and the new one expects a 1404-pixels-wide resolution, for reasons that are detailed in issue #11. However, it should be enough to change the arguments given to xrandr (as you mentioned)

[2021-06-03 15:52] matteodelabre commented on #25
Thanks for pointing this out! I will update the README shortly.

[2021-06-03 15:59] matteodelabre commented on #21
Hello @OldhamMade! Sorry I missed your first message. You need to setup [remarkable2-framebuffer](https://github.com/ddvk/remarkable2-framebuffer) on your reMarkable 2 before VNSee (and a lot of other apps) can work. The easiest way to do that is to install [Toltec](https://github.com/toltec-dev/toltec) first and then run `opkg install rm2fb`, but you can also install it manually using the instruc

[2021-06-04 13:00] giampierosalvi commented on #26
Hi @matteodelabre ,
thank you, now things are clearer. I did run the command you mentioned to enable the virtual display, and the display was indeed active because I could see something on it related to what I was doing on the computer. But could not see the content properly. However, now I have downloaded version 0.4.0 and it works as expected.

[2021-06-04 14:38] matteodelabre commented on #26
Great! Happy to help.

[2021-06-04 14:38] #26 closed

[2021-06-04 18:22] matteodelabre commented on #25
Docs updated to recommend manual install for the time being.

[2021-06-04 18:22] #25 closed

[2021-06-06 03:28] isaacwisdom commented on #21
Made some progress on the OSX  front. Some research I did lead me [here](https://apple.stackexchange.com/questions/342161/macos-mojave-remote-access-login-screen-stuck-on-infinite-loading-spinner), and running this command from that thread `sudo defaults write /Library/Preferences/com.apple.RemoteManagement VNCAlwaysStartOnConsole -bool true` bypasses the login screen completely, allowing the vnse

[2021-06-14 19:28] zsdiogo opened #27 "Screen refresh option for RM2"
Congratulations for a great tool!

It would be great if some solution could be implemented for refreshing the screen in a RM2. After a while the screen has a lot of artifacts, and it becomes unusable.

[2021-06-22 19:36] roosemberth commented on #12
I'm interested in this feature, I'm running sway and when I try to transform 90, I get this warning in the client: `Warning: The server resolution (1872x1404) does not fit in the screen (1404x1872)`.

[2021-06-22 19:36] roosemberth commented on #12
I'm interested in this feature, I'm running sway and when I try to transform 90, I get this warning in the client: `Warning: The server resolution (1872x1404) does not fit in the screen (1404x1872)`.

[2021-06-22 22:10] roosemberth commented on #12
Not a solution, but certainly a workaround: you can `echo 0 >> /sys/class/graphics/fb0/rotate` and then launch `vnsee`.

For some reason if you have launched and quit vnsee before this, sometimes it does not seem to work, but you can simply restart and stop `xochtl`, set the fb0 rotation to 0 (again) and start vnsee.

![image](https://user-images.githubusercontent.com/3621083/123006005-5ac0e900-d3

[2021-06-23 08:55] Baccanno commented on #12
I'll give it a try thanks

[2021-08-16 06:41] Cadillac-V commented on #21
hi there, sorry that I'm not familiar with ssh command. I've opened ssh access, like the picture showed.
<img width="570" alt="WX20210816-143428@2x" src="https://user-images.githubusercontent.com/88942504/129521475-0c60e09c-168c-4d65-94ef-17fdd39e57f7.png">

but I don't know how to copy and install vnsee and vnsee-gui in to my device.
`reMarkable: ~/ scp /Users/gamma/Downloads/vnsee root@remarkabl

[2021-08-16 20:41] nullstalgia opened #28 "Incompatible with 2.9 System Software"
Howdy

I downloaded the latest update on accident, and now I can't use vnsee.

It just gives me

`Error: (rmioc::input) Get axis state: Invalid argument` constantly

Also, *please* add vnsee-gui to Draft so Draft and Remux can grab it without needing a terminal <3

[2021-08-16 21:38] matteodelabre commented on #28
Hi! Are you on rM1 or rM2?

The Toltec package does install Draft and Oxide launcher files. I’d recommend installing VNSee from Toltec if you can. You can also install those files manually from <https://github.com/toltec-dev/toltec/tree/testing/package/vnsee>.

[2021-08-17 08:19] nullstalgia commented on #28
Sorry, should have clarified. I'm on a reMarkable 1.

And hmm, I do have it from Toltec, but it was an older one and I tried to make my own. It's possible it I do have it, it's just not working due to the app also being broken, or something. I dunno.

I'll try to scrape every trace of vnsee clean in the meantime to rule out my own tinkering.

[2021-08-17 09:12] matteodelabre commented on #28
Thanks for clarifying, I’m indeed able to reproduce your issue on my rM1. I’m working on a fix.

[2021-08-17 13:00] matteodelabre commented on #28
@nullstalgia I added a fix on the master branch. From the testing I’ve done, this seems to work. Could you please test it on your device? Here’s a build, if needed: [vnsee-0.4.1.zip](https://github.com/matteodelabre/vnsee/files/7000101/vnsee-0.4.1.zip)

[2021-08-17 21:13] nullstalgia commented on #28
VNSee itself seems to work now, good stuff! I was able to connect and view this thread on my monitor

![image](https://user-images.githubusercontent.com/20761757/129801229-847e208e-b032-463b-a252-960ab7a7538a.png)

The GUI also works, but it does not work when launched from remux (I don't use Draft, sorry).

Checking `systemctl status remux` after launching the GUI returned `Aug 17 20:49:44 reMark

[2021-08-19 13:49] lfuhr commented on #21
It says that you have no vase file in the Download folder of the user gamma on your computer. You can drag the file into the terminal to prevent mistakes.

[2021-08-23 11:09] matteodelabre commented on #28
Great! Thank you for testing it.

Unfortunately I’ve not been able to reproduce this issue on my rM1. Did you install remux manually or from Toltec? Could you please share the result of `systemctl cat remux.service`? The unit definition from Toltec is the following (note the line that defines the HOME environment variable).

[code]

[2021-08-23 20:14] nullstalgia commented on #28
Hmm, mine is from Toltec. I guess it was never updated?? I re-installed remux when I redownloaded VNSee. Its possible that this was a manually made file.. Gonna wipe the file and reinstall remux and vnsee.

[2021-08-23 20:44] nullstalgia commented on #28
So, remux can launch VNSee-gui now, but VNSee-gui can't connect *to WiFi-based VNC servers*, whether launched via a terminal or remux.

USB can connect fine, it seems. And I can connect to a WiFi server via SSH. I'll have to see if you have any extra args

[2021-08-24 03:24] stevenbell opened #29 "Build fails looking for <filesystem> header"
I've probably just missed some basic configuration option, but 0d94c7f39b817c3cb0ea921fc41e9ee702f90295 adds the `#include <filesystem>` header, which causes my build to fail:

[code]

Do I need to enable C++17 support somewhere?

I've got the recommended toolchain installed: `oecore-x86_64-cortexa9hf-neon-toolchain-zero-gravitas-1.8-23.9.2019`

[code]

[2021-08-24 19:21] matteodelabre commented on #29
Thanks for bringing this to my attention. I was using the Toltec toolchain, which provides a more recent version of GCC as compared to the original official toolchain. The old GCC version (7.3.0) has incomplete C++17 support, in particular with respect to `std::filesystem`. I’ll look into fixing the build with GCC 7.3.0 or, if that’s too difficult, I’ll update the build instructions to refer to th

[2021-08-24 19:26] matteodelabre commented on #28
Great! So all your issues are fixed, if I understand correctly? For WiFi connection I admit that it’d be handy if it could detect available VNC servers on that interface, but scanning all addresses (which is what’s done for detecting servers on the USB interface) would be too long. I’ll have to look if there’s some smarter way to do it in the future.

[2021-08-29 12:32] matteodelabre commented on #28
Good point, I just tested it on my local /24 network and it’s taking around 4 seconds. The approach you suggest with a manual scan button seems interesting. I’m moving this to a separate issue.

[2021-08-29 12:36] matteodelabre opened #31 "Scan for VNC servers on the Wi-Fi interface"
The GUI currently only scans for available servers on the USB interface. For small local networks, it could be feasible to also scan the Wi-Fi interface (on my local /24 network, it took only 4s). As suggested by @nullstalgia in #28, this could be triggered by a manual scan button.

[2021-08-29 13:23] matteodelabre commented on #29
I have updated the [build guide](https://github.com/matteodelabre/vnsee/blob/master/docs/build.md) with instructions on using the Toltec toolchain to complete the build.

[2021-08-29 13:23] #29 closed

[2021-08-29 13:46] matteodelabre commented on #28
Fixed in release 0.4.1.

[2021-08-29 13:46] #28 closed

[2021-09-02 15:17] Etn40ff commented on #2
A stopgap solution for linux machines is to use https://github.com/Blub/netevent. Here is a summary of how to do so:

- install netevent on the host machine

- make sure `uinput` is enabled in the kernel and that `user` has permission to
  access `/dev/uinput`

- unzip and copy this binary [netevent.zip](https://github.com/matteodelabre/vnsee/files/7099982/netevent.zip) to the remarkable, possibly

[2021-09-08 02:00] stevenbell opened #32 "full updates don't work correctly after fast mode"
I'm using vnsee with Xournal++ to annotate PDF slides.  I've found that when I write with the pen, the `du` "fast repaint" mode seems to interfere with the complete update once the pen is lifted.  If I use the red pen, the `du` updates don't do much (no problem, that's expected), but then the "standard" update doesn't properly update the stroke, and I'm left with nearly invisible lines.

I tried t

[2021-09-08 12:23] matteodelabre commented on #32
Hi @stevenbell, thanks for sharing this report. This is on rM1, right? I tested this on both device versions and I only managed to reproduce the issue on rM1.

This could be a timing issue where we should wait more before triggering the `gc16` update, or maybe the controller doesn’t like that we are pushing `du` updates that contain intermediate grays where it supports only full black or full whit

[2021-09-08 12:39] stevenbell commented on #32
Yes, this is on rM1.  That's very interesting that it doesn't happen on rM2... must be something related to the screen driver and update behavior.

I'll experiment with adding some delays and with using two "dirty" rectangles, and see what more I can learn.  Thanks!

[2021-09-17 07:48] Etn40ff commented on #27
A suggestion: on RM2 could it be possible to use one click of the power button to refresh and a double click to restart?

[2021-09-27 03:46] jbeard4 commented on #28
Hi @matteodelabre, I wanted to report that I am getting this error in releases 0.3.1, downloaded through toltec, and 0.4.1, downloaded from Github and uploaded to the device via ssh, on RM1 firmware 2.9.1.236.

I would appreciate any insight you could share on this, and please let me know if there is anything I can do on my end to help diagnose this.

Thank you.

[2021-10-10 20:06] cdrini opened #33 "Create a video of this in action"
I'm considering an e-ink monitor, and also looking at potentially getting a remarkable to use for that purpose. But since this isn't officially supported, I don't know how well it works. Would it be possible for someone to create a video showing this setup in action?

Something like this video: https://www.youtube.com/watch?v=v8YkE4tXMIc ; ie to demonstrate the latency, and whether it would be fea

[2021-10-13 08:52] mm-dev-rocks opened #34 "Connection fails on rM1 fw 2.10.0.324 rmioc::input error"
On rM1 with latest firmware 2.10.0.324

VNSee 0.4.0-2 installed via toltec

I can launch the GUI but when I try to connect I get:
`Error: (rmioc::input) Get axis state: Invalid argument`

Seems similar to the issue reported/fixed here for fw 2.9:
https://github.com/matteodelabre/vnsee/issues/28

[2021-10-13 12:17] matteodelabre commented on #34
Hi! As stated in the issue you linked, you need to install VNSee 0.4.1 to fix this issue. The package version in Toltec is not yet up to date (waiting on approval for PR toltec-dev/toltec#421). In the meantime, please manually install the latest version.

[2021-10-13 12:23] mm-dev-rocks commented on #34
I did see that but there was a recent comment from someone on 0.4.1 who was still getting the error so I thought it wasn't fixed

https://github.com/matteodelabre/vnsee/issues/28#issuecomment-927503945

I'll give it a try though, thanks

EDIT I've tried the 0.4.1 binary and it's working fine for me. Great thank you.

[2021-10-17 22:31] matteodelabre commented on #34
Thanks for confirming it worked!

[2021-10-17 22:31] #34 closed, assigned to nobody

[2021-10-21 18:28] Jdogzz opened #35 "Support for NewFBSize"
I encountered a problem similar to that reported in these threads:

[https://github.com/bk138/multivnc/issues/133](https://github.com/bk138/multivnc/issues/133)

[https://github.com/bk138/multivnc/issues/159](https://github.com/bk138/multivnc/issues/159)

In my case I encountered this with the latest Ubuntu 21.10, using the officially support GNOME Remote Desktop: [https://help.ubuntu.com/stable/u

[2021-11-01 02:15] winteraspect commented on #21
if I open the remote login from Mac preference, I could vnc to it showing the login windows bu that's it. No so practical for now. Is there a way to let vnsee auto-rescale?

[2021-11-13 04:00] winteraspect commented on #21
I came across a tool to create dummy monitor in mac. The tool is made for a different reason but I don't know if it also helps here. https://github.com/waydabber/BetterDummy

[2021-12-04 17:08] Utopiah opened #36 "Incompability with streaming solutions"
See https://github.com/rien/reStream/issues/84 and https://github.com/owulveryck/goMarkableStream/issues/23 , both solutions don't work until vnsee is killed.

[2021-12-04 17:29] Utopiah commented on #36
Might be related to using vnsee without killing xochtil first. While testing running both and also a streaming solution, reStream, did work so maybe entered a strange context.

[2021-12-06 09:26] Utopiah commented on #36
Happened again, `opkg remove vnsee` didn't fix it, even after  reboot, but somehow `./entware-reenable` did so I'm not sure what is going on here.

[2021-12-17 14:07] giorgio-arena commented on #32
Just wanted to let you know that I'm having the same issue on remarkable 2 (version 2.10.1.332 patched with ddvk-hacks). I've installed this through Toltec but I'll try to build from source and play around with the code in order to fix this, but for future development I think it'd be good to add an option for setting the repaint delays

[2022-01-09 11:13] simonante commented on #21
Has anyone made any new progress here?

[2022-01-31 14:56] matteodelabre opened #37 "Buffer overread in rm2fb client"
There is a buffer overread in the following call to `msgsnd`:
https://github.com/matteodelabre/vnsee/blob/6ed9593769471133d9602108ce6855dd53d54931/src/rmioc/screen_rm2fb.cpp#L165

As per [the man page](https://man7.org/linux/man-pages/man2/msgop.2.html), the `msgsz` argument (third argument) should not include the size of the mtype field, only of the data field, so currently this call will read 4

[2022-02-01 01:33] jegfish opened #38 "Sway window manager rotation has no effect on final output on reMarkable"
First off, amazing piece of software, thank you to the original author and contributors for writing it. I am excited for the possibility of using an e-ink computer monitor in the hopes it will help with my eye strain (with hardware I currently have, don't have to buy an expensive e-ink monitor).

* Desired Result: Ability to rotate final output on reMarkable tablet. I want to try landscape mode, a

[2022-02-01 01:45] jegfish commented on #38
Managed to get `vncviewer` working on the VM, bit confusing but I don't think it works. Rotated the display 90 degrees. When I connected the viewer it's display seemed to only be rotated 90 degrees, I would expect it to be 90 + 90 = 180 degrees if it is rendering as rotated. So perhaps the issue is in sway or wayvnc, though that's not an ideal test. I'll see if I can get a VNC viewer on my host OS

[2022-02-15 16:06] jegfish commented on #38
Turns out I had to change settings/code in `wayvnc` to get this working.

[2022-02-15 16:06] #38 closed, assigned to nobody

[2022-02-19 20:13] simonante commented on #21
Any progress?

[2022-02-23 12:24] simonante commented on #21
Dismal. Trying everything suggested above. Can‘t get even past ‘Failed to innitialize VNC connection‘.
Wonder if anyone still trying? This needs to work.

[2022-02-27 05:08] simonante opened #39 "Compatibility with mini Linux pc"
This may work fine with a mini linux pc as a main screen.
What do you think? I thought I may try this.

[2022-02-27 05:48] matteodelabre commented on #39
Hi @simonante, could you elaborate on what specific setup you have in mind? In principle any Linux system should work since you just need to run a VNC server.

[2022-02-27 09:19] simonante commented on #39
Any setup, as atm yet deciding to buy one.
If I have the option to choose, linux is probably most optimal for vnsee, right?
I am macos user. Seems not functional with macos.

[2022-02-27 14:30] matteodelabre commented on #39
Yes, I'd recommend something that can run Linux. It may be possible to setup macOS for use with VNSee but I cannot help with that unfortunately as I don't have experience with that system.

Just to clarify, the general idea here is to run a headless system (ie without a screen attached) and connect to it with VNSee?

[2022-02-28 05:52] simonante commented on #39
Exactly, no screen attached and connect with vnsee.

[2022-03-13 09:54] detrieo opened #40 "Does VNC require wifi?"
Hi
I'm completely new to VNC.
If I use vnsee with cable, does it still require network? or is it through cable alone?
Can this work like any external display?

[2022-03-13 13:59] matteodelabre commented on #40
Hi @detrieo, yes you can setup VNSee to use your tablet as an external display with just an USB cable.

[2022-03-13 15:22] detrieo commented on #40
So all it takes is proper linux setup, and connected remarkable? No need for wifi connection? while using vnsee rm can have wifi off? even flight mode?

[2022-03-13 17:14] matteodelabre commented on #40
Right, exactly!

[2022-03-16 02:18] #40 closed, assigned to nobody

[2022-03-17 10:12] damienchallet opened #41 "Error: (rmioc::supported_input_events) Get supported eve????"
vnsee version 0.4.1 running here, with vnsee and vnsee-gui installed on top of the opkg one.

Remarkable 1 runnning 2.8.0.98 with ddvk hacks + lamy pen hack.

When connecting to the x11vnc server, I get the above truncated error message.

It may be connected to the lamy pen input patch.

Any suggestion is most welcome !

[2022-03-17 23:35] matteodelabre commented on #36
@Utopiah Are you still encountering this bug? Could you share more on your exact setup?

[2022-03-18 11:24] Utopiah commented on #36
I believed we had a chat on Discord about it. I can't recall exactly but I think my mistake was not killing xochtil first. If that's important for you I could try again and let you know. Otherwise feel free to close this issue for now. If need be I'd open another one, as you prefer.

[2022-03-19 03:31] matteodelabre commented on #36
Forgot about that, sorry! Alright, closing this for now then.

[2022-03-19 03:31] #36 closed, assigned to nobody

[2022-03-25 08:29] simonante opened #42 "Not showing as external screen"
Vnsee works, but only mirrors a part of main screen.
How to make rm a separate second screen?

I use the following shell script:
[code]

When I include `-clip` in the `x11vnc` command I get the following:
[code]

[2022-04-26 14:21] bbrks commented on #21
I've had some limited success getting it to work with the [OSXvnc/Vine VNC server](https://github.com/stweil/OSXvnc)

You can use BetterDummy mentioned above to create a 1404x1872 display to match the reMarkable's aspect ratio. I'm still having problems getting a cursor to appear on the VNC client, and the stability of OSXvnc leaves a little to be desired... But it's _so_ close to working well.

!

[2022-04-29 07:56] simonante commented on #21
@bbrks Good to see some progress!
Other workaround for mac users (perhaps only if really needed) is to dual boot linux.

[2022-04-29 12:08] OldhamMade commented on #21
@bbrks great work! Do you know whether your approach would work landscape also?

[2022-04-29 16:51] Etn40ff opened #43 "Force screen refresh"
RM2 does not have a home button so currently there is no way to force a refresh. Here is a proposal for a cuouple of workarounds.

- Use the power button: short press should trigger a screen refresh and a long press should quit vnsee

- Open a socket and listen for requests

[2022-04-29 17:06] Etn40ff opened #44 "Fast update without sendig mouse events"
Now that `netevent` is in toltec it is possible to forward directly both the digitizer and the touchscreen to any linux machine, details on how to do so can be found [here](https://github.com/Etn40ff/remarkable-pendisplay). This gives a much finer control than the current solution implemented in https://github.com/matteodelabre/vnsee/issues/2.
Unfortunately, doing so one looses the ability to trig

[2022-04-29 21:48] Etn40ff commented on #44
I finally wrote a draft in the repository I linked above explaining how my setup work. It is very rough at the moment, if there is enough interest I might be persuaded to make it simpler to deploy.

[2022-06-15 08:06] StefaanVanDooren commented on #13
Just want to share my success on windows with the driver I found here : https://github.com/ge9/IddSampleDriver/releases

Followed the instructions to install the driver (I had to manually install the certificate), then I changed the options file to :

1
 //place this file in "C:\IddSampleDriver\"
 //lines beginning with "#" are ignored (comment)
 //the first line mush be a positive integer (small

[2022-06-15 08:09] Baccanno commented on #13
Nice, so no need of an hdi mock ? Can you rotate the screen with this driver?

[2022-06-15 08:22] StefaanVanDooren commented on #13
Just tried it. Added an extra option to the file. Reinstalled the driver (not sure it was needed)

![image](https://user-images.githubusercontent.com/5485451/173779138-df666c9d-fdbe-498a-8c11-131764e15754.png)

I just haven't tried if it works, because I can't get my remarkable out of sleep mode :-(
BTW, this is on windows 11

EDIT : this doesn't seem to work. So only portrait mode available at th

[2022-06-15 12:52] StefaanVanDooren opened #45 "touch and pen not working on RM2"
I got vnsee working in portrait mode on Windows 11. The screen displays fine, but when I try to use the pen, my mouse cursor jumps to the left of the screen. Moving the pen up and down, moves the mouse up and down correctly, but the mouse stays on the left side of the screen.

Version 2.12.3.606-patch_32.2.02-0-geeb0667

reMarkable: ~/ vnsee
Connecting to 10.11.99.2:5900
Warning: The server resolu

[2022-06-15 13:15] StefaanVanDooren commented on #45
https://user-images.githubusercontent.com/5485451/173835762-176f16d7-02cc-423e-91e8-0db0b3f664c3.MOV

[2022-06-17 05:21] djhardrich opened #46 "Send USB Keyboard and Mouse Events"
If a USB keyboard/mouse are connected via a usb power splitter to battery bank/usb c-to-a cable, they enumerate and work perfectly as hid input devices on the rm1/rm2 (for example, text input in yaft). Please send these events as well as the touch events, this will make vnsee extremely useful in situations where one isn’t sitting in front of the computer they’re vnc’ing into and using a second scr

[2022-06-17 13:28] matteodelabre commented on #46
That’s a great idea, thanks!

[2022-11-26 16:13] ejcupcake opened #47 "Error while loading shared libraries"
Hello, I am having this issue. whenever I try to connect to my PC, I get an error that says, "Error while loading shared libraries: /usr/lib/libvncclient.so.1: file too short".